<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
  <div class="container">
    <a class="navbar-brand" href="/">Furni<span>.</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item "><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
        <li class="nav-item"><a href="/cart" class="nav-link">Cart</a></li>


        <% if (user) { %>
        <li class="nav-item"><a href="/orders" class="nav-link">Orders</a></li>
        <li class="nav-item"><span class="nav-link"> Welcome, <%= user.username %></span></li>
        <% if (user.role === "admin") { %>
        <li class="nav-item">
          <button class="btn btn-outline-dark" onclick="window.location.href='/admin/dashboard'">
            Admin Panel
          </button>

        </li>
        <% } %>
        <li class="nav-item">
          <form action="/api/auth/logout" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-outline-dark">Logout</button>
          </form>
        </li>
        <% } else { %>
        <li class="nav-item">
          <button class="btn btn-dark mx-2" onclick="window.location.href='api/auth/login'">
            Login / Register
          </button>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>